#hero-section {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../media/hero.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45vh;
  width: 100%;
}

.hero-text h1 {
  color: #fff;
  font-size: 4.5rem !important;
  text-transform: uppercase;
  opacity: 0.9;
}

.hero-text p {
  color: #fff;
  font-size: 2 !important;
  text-transform: lowercase;
}

.title-fade-out {
  opacity: 0;
  animation-name: fade-out;
  animation-duration: 2s;
}

.title-fade-in {
  opacity: 100;
  animation-name: fade-in;
  animation-duration: 2s;
}

@keyframes fade-out {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
